body {
    background-color: teal;
    color: goldenrod;
}

#videos {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 5%;
}

.youtubeBox1 {
    text-align: center;
}

.youtubeBox2 {
    margin-left: 43%;
}